@{
    ViewBag.Title = "Обо мне";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyId{about}
<div id="pagename">
    <div class="container">
        <h2>Обо мне</h2>
    </div>
</div>
<div id="content">
    <div class="container">
        <div id="main">

            <p>Ширап Доржиев родился 1&nbsp;марта 1944 года в&nbsp;селе Загустай Кижингинского района Бурятской АССР. В&nbsp;1963 году закончил Верхне-Кондунскую среднюю школу и&nbsp;в&nbsp;этом&nbsp;же году был призван на&nbsp;военную службу. После трех лет службы проработал в&nbsp;совхозе. В&nbsp;1973 году окончил педучилище, художественно-графический факультет. Уехал в&nbsp;Якутию, город Вилюйск, где проработал 20&nbsp;лет художником-оформителем.</p>
            <p> Вернулся на&nbsp;родину в&nbsp;1994 году и&nbsp;с&nbsp;1998 по&nbsp;2009 год проработал в&nbsp;педколледже, где преподавал художественную обработку материалов, заведовал мастерской. Ныне проживает в&nbsp;Казани. Награжден Почетной грамотой Министерства культуры СССР.</p>

        </div>
        <div id="sidebar">
            <div class="block">
                <div class="block-inner">
                    <h2>Contact Info</h2>
                    <p>
                        <strong>Phone: </strong> +7 927 489 9521
                    </p>
                    <p><strong>E-mail: </strong> <a href="mailto:shirapdorzho@gmail.com">shirapdorzho@gmail.com</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

