@{
    ViewBag.Title = "Ширап Доржиев";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyId{home}

<div id="featured-section">
    <div class="container">
        <div id="myBio">
            <h2>
                Художник из Бурятии<br />
                <span>Пишу для себя, для&nbsp;других, о&nbsp;себе, о&nbsp;семье, о&nbsp;народе, о&nbsp;Любви, о&nbsp;Радости, обо&nbsp;всем, что окружает</span>
            </h2>
            <!--<div class="button"><a href="#"><img src="images/button.png" alt="" /></a></div>-->
        </div>
        <div id="myWorks" onclick="window.location = '/gallery';" class="cycle-slideshow featured-works" >
            <img alt="" width="434" height="282" src="Content/images/12.png">
            <img alt="" width="434" height="282" src="Content/images/16.png">
            <img alt="" width="434" height="282" src="Content/images/23.png">
            <img alt="Цветение сакуры" width="434" height="282" src="Content/images/tb_Цветение-сакуры.jpg">
            <img alt="Ёхор" width="434" height="282" src="Content/images/ehor.jpg">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/cycle")
