
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="content">
    <div class="container">
        <div id="main">

            <p>Ваше сообщение успешно отправлено. Мы свяжемся с вами как можно скорее.</p>

        </div>
        <div id="sidebar">
            <div class="block">
                <div class="block-inner">
                    <h2>Информация</h2>
                    <p><strong>Тел.: </strong> +7 927 489 9521</p>
                    <p><strong>E-mail: </strong> shirapdorzho@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>


