@{
    ViewBag.Title = "Ширап Доржиев";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @section BodyID{home}
    
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            <p>Пишу о себе, о семье, о народе, о Любви, о Радости, для себя и для других, обо всем, что окружает...</p>
                        </div>
                        <div class="col-lg-6 col-md-6">

                            <figure id="myWorks" class="stack stack-randomrot active" >
                                <a href="/gallery">
                                    <img alt=""  src="Content/images/12.png">
                                    <img alt=""  src="Content/images/16.png">
                                    <img alt="" src="Content/images/23.png">
                                    <img alt="Цветение сакуры" src="Content/images/tb_Цветение-сакуры.jpg">
                                    <img alt="Ёхор" src="Content/images/ehor.jpg">
                                </a>
                            </figure>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        
    </div><div class="mongtext">
              Shirap Do
</div>
    @Scripts.Render("~/bundles/cycle")


